@import "physical-px";

.match-parent {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}

html, body {
	@extend .match-parent;
}

#main-scene {
	@extend .match-parent;
	background: #000;

	canvas.volatile {
		@extend .match-parent;
	}
}

#ctrl {
	i:before {
		font-size: 48px;
	}
}

#status, #ctrl {
	position: absolute;
	font-size: 36px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
}

#ctrl {
	right: 0;
}
